@import "../../../sass/colors";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $transparent;
  padding: 0;
  border-radius: 4px;

  &.CONTAINED {
    background-color: $transparent;

    &:hover {
      background-color: $outlined-hover;
    }

    &:active {
      background-color: $primary;

      .icon {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.OUTLINED:hover {
    background-color: $outlined-hover;
  }

  &.OUTLINED_ACTIVE {

    &:hover {
      background-color: $outlined-hover;
    }

    &:active {
      background-color: $transparent;

      .icon {
        filter: invert(37%) sepia(78%) saturate(5713%) hue-rotate(205deg) brightness(103%) contrast(105%);
      }
    }
  }

  &.CONTAINED_RED {
    &:hover {
      background-color: $error-background;
    }

    &:active {
      background-color: $transparent;
    }
  }

  &.CONTAINED_PRIMARY {
    &:hover {
      background-color: $primary;

      .icon {
        filter: brightness(0) invert(1);
      }
    }

    &:active {
      background-color: $primary-active;
    }
  }

  &.SMALL {
    width: 16px;
    height: 16px;
  }

  &.MEDIUM {
    width: 24px;
    height: 24px;

  }

  &.BIG {
    width: 32px;
    height: 32px;
  }

  &:disabled,
  &.disabled:hover,
  &.disabled:active {
    background-color: $light-gray;
    cursor: not-allowed;
    color: $disabled;

    .icon {
      filter: initial;
    }
  }
}
