@import "../../../sass/colors";
@import "../../../sass/main";

.button {
  position: relative;
  color: $white;
  background-color: $primary;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 24px;
  min-width: 30px;

  &.CONTAINED {
    &.PRIMARY {
      background-color: $primary;
      transition: all .3s;

      &:hover {
        background-color: $primary-hover;
      }
    }

    &.WARNING {
      background-color: $warning;
      transition: all .3s;

      &:hover {
        background-color: $warning-hover;
      }
    }

    &.ERROR {
      background-color: $error;
    }
  }

  &.TEXT {
    background-color: $transparent;

    &.PRIMARY {
      color: $primary;
    }

    &.WARNING {
      color: $warning;
    }

    &.ERROR {
      color: $error;
    }
  }

  &.OUTLINED {
    background-color: $transparent;
    border: 1px solid;

    &.PRIMARY {
      border-color: $light-gray;
      color: $primary;
      transition: all .3s;

      &:hover {
        background-color: $light-blue;
      }
    }

    &.WARNING {
      border-color: $warning;
      color: $warning;
      transition: all .3s;

      &:hover {
        background: $warning-hover;
      }
    }

    &.ERROR {
      border-color: $error;
      color: $error;
      transition: all .3s;

      &:hover {
        background-color: $error-background;
      }
    }
  }

  &.SMALL {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 400;
  }

  &.BIG {
    padding: 11px 16px;
  }

  &.LARGE {
    padding: 12px 28px;
  }

  &.disabled {
    transition: initial;
    cursor: not-allowed;
    background: $light-gray!important;
    color: $gray!important;
    border: none;
  }

  .loaderText {
    visibility: hidden;
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .iconLeft {
    margin-right: 12px;
  }

  .iconRight {
    margin-left: 12px;
  }
}
