@import "src/sass/variables";

@mixin getButtonTheme($background, $color) {
  background: $background;

  span {
    color: $color;
  }
}

$themes: (
  vaulted: (
    $vaultedPrimary,
    $vaultedSecondary,
  ),
  bnns: (
    $vaultedSecondary,
    $vaultedPrimary,
  ),
);

.theme {
  @each $theme, $style in $themes {
    &_#{$theme} {
      @include getButtonTheme(nth($style, 1), nth($style, 2));
    }
  }
}
