@import "src/sass/variables";
@import "src/sass/mixins";

// default theme = MAIN
.button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  span {
    @include font($primary);
  }
}


// theme = SECONDARY
.SECONDARY {
  span {
    @include font($secondary);
  }
}