$white: #FFF;
$red: #FF2E2E;
$primary: #0072FF;
$primary-hover: #2988FF;
$outlined-hover: #F2F8FF;
$light-blue: #E5F0FF;
$lightest-blue: #F2F8FF;
$success: #36B37E;
$error: #B44747;
$error-background: #FAC3C3;
$warning: #FFA90B;
$warning-hover: #FADAA9;
$light-warning: #FBF6DD;
$dark-gray: #363A42;
$gray: #8891A3;
$light-gray: #EBEEF2;
$light-gray-2: #C4C4C4;
$border-gray: #E2E6ED;
$light-yellow: #FDFAEB;
$transparent: #FFFFFF00;
