@import "../../../sass/colors";

.container {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid $light-gray;

  .dropdownItem {
    padding: 6px 16px;

    &:hover {
      background-color: $light-blue;
    }
  }
}
