@import "../../../sass/colors";

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  .icon {
    display: none;
  }

  &:hover {
    color: $gray;

    .icon {
      display: inline-flex;
    }
  }
}
