@import '../../../sass/colors';
@import '../../../sass/main';

.badge {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  background-color: $light-gray;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;

  &.success {
    color: $success;
    background: $success-background;
  }

  &.error {
    color: $error;
    background: $error-background;
  }

  &.warning {
    color: $warning;
    background: $light-warning;
  }

  &.square {
    border-radius: 4px;
    padding: 4px 6px;

  }

  &.round {
    border-radius: 100px;
    min-width: 84px;
    padding: 0 4px;
  }
}
