@import "../../../sass/colors";

.labelContainer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $dark-gray;
  font-size: 14px;
  list-style: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .checkbox {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $dark-gray;
    font-size: 14px;
    list-style: none;
    position: relative;
    white-space: nowrap;
    outline: none;
    cursor: inherit;

    .input {
      position: absolute;
      inset: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      margin: 0;

      &:checked {
        & + .checkmark {
          background-color: $primary;
          border-color: $primary;

          &:after {
            transform: rotate(45deg) scale(1) translate(-50%, -50%);
            opacity: 1;
            transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
          }
        }
      }
    }

    .checkmark {
      box-sizing: border-box;
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: 14px;
      height: 14px;
      direction: ltr;
      background-color: $white;
      border: 2px solid $light-gray;
      border-radius: 2px;
      border-collapse: separate;
      transition: all .3s;

      &:after {
        position: absolute;
        top: 50%;
        left: 1px;
        display: table;
        width: 4px;
        height: 7px;
        border: 2px solid $white;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(0) translate(-50%, -50%);
        opacity: 0;
        transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
        content: "";
      }
    }
  }

  .label {
    padding: 0 4px;
    font-size: 13px;
    line-height: 16px;
  }

  &.disabled {
    cursor: default;

    .checkbox {
      .input {
        pointer-events: none;

        & + .checkmark {
          border-color: $gray;
        }

        &:checked {
          & + .checkmark {
            background-color: $gray;
          }
        }
      }

      & + span {
        color: $gray;
      }
    }
  }
}

